body {
  width: 100%;
  display: flex;
  flex-direction: column;
  --azul: #0358F0;
  --purpura: #90099C;
  --rojo: #E93427;
  font-family: sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.Top {
  height: 100vmin;
  position: relative;
  padding: 3vmin 20vmin 30vmin 13vmin;
  backdrop-filter: blur(5vmin);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.Top::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100vmin + 20vmin);
  width: calc(100% + 20vmin);
  z-index: -2;
  background:
    linear-gradient(transparent 70%, var(--rojo) 90%),
    radial-gradient(circle, var(--purpura) 10%, var(--rojo) 90%),
    var(--rojo); 
  margin: -10vmin -10vmin -10vmin -10vmin;
  animation: mueve-fondo 10s ease both;
}

@keyframes mueve-fondo {
  0% {
    background-position-x: 0vw;
  }
  100% {
    background-position-x: 100vw;
  }
}

.Header {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
}

.Header__logo {
  font-weight: bold;
  font-size: 3.25vmax;
  letter-spacing: .2vmax;
  transform: scaleY(.9);
}

.Header__nav {
  display: flex;
  align-items: center;
  gap: 8vmax;
}

.Header__link {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8vmax;
  transition: all .25s ease;
}

.Header__link:hover {
  color: white;
}

.Header__cta {
  text-transform: uppercase;
  border: 1px solid white;
  padding: 0 3vmin;
  height: 4.5vmin;
  border-radius: 2.25vmin;
  font-size: .8vmax;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Bienvenida {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  height: 80vmin;
  font-family: 'Space Grotesk', sans-serif;
}

.Bienvenida__titulo {
  font-size: 3.75vmax;
}

.Bienvenida__mensaje {
  font-size: 1.25vmax;
  padding-block-start: 7vmin;
  padding-block-end: 5vmin;
  line-height: 1.25;
}

.Bienvenida__cta {
  text-transform: uppercase;
  border: 1px solid white;
  align-self: flex-start;
  padding: 0 4vmin;
  height: 4.5vmin;
  font-size: .8vmax;
  border-radius: 2.25vmin;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Celular {
  position: relative;
  background-color: #323232;
  --ancho-celular: 16vmax;
  --alto-celular: calc(2 * var(--ancho-celular));
  --borde-celular: .8vmax;
  width: var(--ancho-celular);
  height: var(--alto-celular);
  border-radius: 2vmax;
  border: var(--borde-celular) solid black;
  margin-top: 4vmax;
}

.Celular::before {
  position: absolute;
  content: '';
  width: 8vmax;
  height: 2vmax;
  background-color: black;
  top: calc(-1 * var(--borde-celular));
  left: calc((var(--ancho-celular) - 8vmax) / 2 - var(--borde-celular));
  border-radius: 1vmax;
}

.Celular::after {
  position: absolute;
  content: '';
  width: 8vmax;
  height: .2vmax;
  background-color: #474747;
  bottom: .4vmax;
  left: calc((var(--ancho-celular) - 8vmax) / 2 - var(--borde-celular));
  border-radius: 1vmax;
}

.Celular__pantalla {
  position: absolute;
  top: calc(var(--alto-celular) / 10);
  background-color: #E6E6E6;
  width: calc(var(--ancho-celular) - 2 * var(--borde-celular));
  height: calc(4 * var(--alto-celular) / 5 - 2 * var(--borde-celular));
  display: flex;
  flex-direction: column;
  gap: .75vmax;
  padding: 1vmax;
}

.Celular__mensaje {
  min-height: calc(var(--alto-celular) / 20);
  min-width: calc(var(--alto-celular) / 8);
  border-radius: .25vmax;
  font-size: 1.5vmax;
  position: relative;
}

.Celular__mensaje::before {
  position: absolute;
  content: '';
}

.Celular__mensaje--saliente {
  align-self: flex-end;
  background-color: #00D100;
}

.Celular__mensaje--saliente::before {
  border: .35vmax solid transparent;
  border-top-color: #00D100;
  right: -.35vmax;
  top: .25vmax;
}

.Celular__mensaje--entrante {
  align-self: flex-start;
  background-color: white;
}

.Celular__mensaje--entrante:nth-last-child(2) {
  min-width: calc(var(--alto-celular) / 4);
}

.Celular__mensaje--entrante::before {
  border: .35vmax solid transparent;
  border-top-color: white;
  left: -.35vmax;
  top: .25vmax;
}

.Celular__mensaje--saliente_grande {
  background-color: #00D100;
  align-self: flex-end;
  width: 22vmax;
  padding: .65vmax;
  border-radius: .5vmax;
  line-height: 1.1;
  margin-right: .75vmax;
  box-shadow:
    0 0 .75vmax rgba(0, 0, 0, .4),
    0 0 .25vmax rgba(0, 0, 0, .15);
}

.Celular__mensaje--saliente_grande::before {
  border: 2vmax solid transparent;
  border-right-width: 1.75vmax;
  border-top-color: #00D100;
  right: -1vmax;
  top: .5vmax;
}

/* .Celular__mensaje--saliente_grande::before {
  border-top-color: rgba(0, 0, 0, .8);
  filter: blur(.25vmax);
} */

.Celular__mensaje--saliente_grande:nth-child(4) {
  width: 16vmax;
}

.Celular__mensaje--entrante_grande {
  align-self: flex-end;
  width: 11vmax;
  transform: translateX(-11vmax);
  background-color: white;
  padding: .65vmax;
  border-radius: .5vmax;
  line-height: 1.1;
  box-shadow:
    0 0 .75vmax rgba(0, 0, 0, .4),
    0 0 .25vmax rgba(0, 0, 0, .15);
}

.Celular__mensaje--entrante_grande::before {
  border: 2vmax solid transparent;
  border-top-color: white;
  left: -1vmax;
  top: .5vmax;
  z-index: -1;
}

.Info {
  height: 100vmin;
  position: relative;
  background: linear-gradient(to bottom, var(--rojo) 60%, white 60%);
  display: flex;
  flex-wrap: wrap;
  padding: 10vmin 20vmin 30vmin 13vmin;
}

.Info__pregunta {
  width: 50%;
  height: 40vmin;
  color: white;
  display: flex;
  flex-direction: column;
}

.Info__pregunta:not(:first-child) {
  padding-right: 5vmax;
  align-items: flex-end;
}

.Info__pregunta:first-child .Info__titulo_pregunta,
.Info__pregunta:first-child .Info__respuesta_pregunta {
  border-right: 1px solid white;
}

.Info__titulo_pregunta {
  font-size: 3vmax;
  letter-spacing: .1vmax;
}

.Info__titulo_pregunta::before {
  content: '01.';
  width: 5vmax;
  display: inline-block;
}

.Info__respuesta_pregunta {
  padding: 2vmax 0vmax 2vmax 5vmax;
  line-height: 1.35;
  letter-spacing: .1vmax;
}

.Info__imperativo {
  width: calc(100% / 3);
  border: 1px solid var(--rojo);
  background-color: white;
  height: 45vmin;
  padding: 2.5vmax 4vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Info__verbo_imperativo {
  font-size: 2.5vmax;
  letter-spacing: .1vmax;
}

.Info__descripcion_imperativo {
  font-size: 1.25vmax;
  letter-spacing: .1vmax;
  line-height: 1.15;
}

.Servicios {
  height: 70vmin;
  background-color: white;
  padding: 5vmin 20vmin 30vmin 13vmin;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Servicios__titulo {
  line-height: 1.25;
  text-transform: uppercase;
  margin-left: 1vmax;
}

.Servicios li {
  font-size: 2.5vmax;
  letter-spacing: .25vmax;
  line-height: 2;
  display: flex;
  align-items: center;
}

.Servicios li::before {
  content: '✓';
  display: inline-block;
  width: 1.5vmax;
  height: 1.5vmax;
  font-size: 1vmax;
  background-color: #00d201;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1vmax;
}

.Beneficios {
  display: flex;
  flex-wrap: wrap;
  padding: 10vmin 0vmin 30vmin 13vmin;
  background:
    linear-gradient(white 0% 20%, transparent 20% 50%, lightgray 90%),
    linear-gradient(to right, var(--rojo), var(--purpura), var(--azul));
}

.Beneficios__titulo {
  margin-left: 1vmax;
  margin-bottom: 6vmin;
  width: 100%;
  text-transform: uppercase;
}

.Beneficios__imperativo {
  width: calc(100% / 3);
  border: 1px solid rgba(0, 0, 0, .75);
  border-right: none;
  background-color: white;
  height: 60vmin;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Beneficios__verbo_imperativo {
  font-size: 2.5vmax;
  letter-spacing: .1vmax;
  line-height: 1.25;
}

.Beneficios__descripcion_imperativo {
  font-size: 1.25vmax;
  letter-spacing: .1vmax;
  line-height: 1.15;
}

.Beneficios__titulo_testimonio {
  margin-left: 1vmax;
  margin-top: 20vmin;
  margin-bottom: 6vmin;
  width: 100%;
  text-transform: uppercase;
}

.Trabajemos {
  height: 90vmin;
  background-color: black;
  color: white;
  padding: 10vmin 20vmin 30vmin 13vmin;
}

.Trabajemos__titulo {
  margin-bottom: 6vmin;
  width: 100%;
  text-transform: uppercase;
  padding: 3.5vmax 0;
  margin-left: 1vmax;
}

.Trabajemos__mensaje {
  font-size: 3.5vmax;
  max-width: 36ch;
  letter-spacing: .25vmax;
  margin-left: 1vmax;
}

.Footer {
  height: 40vmin;
  background-color: black;
}