div[class^="icono"] {
  --color: lightgray;
  --alto: 2vmax;
}

.icono_detecta {
  position: relative;
  width: var(--alto);
  height: var(--alto);
  background:
    linear-gradient(transparent 0 35%, white 35% 65%, transparent 65%),
    linear-gradient(to right, transparent 0 35%, white 35% 65%, transparent 65%),
    linear-gradient(var(--color) 0% 15%, transparent 15% 85%, var(--color) 85%),
    linear-gradient(to right, var(--color) 0% 15%, transparent 15% 85%, var(--color) 85%)
  ;
}

.icono_detecta::after {
  position: absolute;
  content: '';
  width: var(--alto);
  height: var(--alto);
  background:
    linear-gradient(to right, var(--color) 15%, transparent 15%) bottom / 100% 35% no-repeat,
    linear-gradient(transparent 85%, var(--color) 85%) left / 52% 100% no-repeat
  ;
  transform: translateY(-40%) translateX(-5%) rotateZ(-45deg);
}

.icono_automatiza {
  position: relative;
  width: calc(var(--alto) / 2);
  height: calc(var(--alto) / 2);
  background: var(--color);
  display: flex;
  align-items: center;
}

.icono_automatiza::before {
  position: absolute;
  content: '';
  left: calc(var(--alto) - .5vmax);
  width: calc(var(--alto) / 2);
  height: calc(var(--alto) / 5);
  background: var(--color);
}

.icono_automatiza::after {
  position: absolute;
  content: '';
  left: calc(2 * var(--alto) - 1vmax);
  width: calc(var(--alto) / 2);
  height: calc(var(--alto) / 2);
  background: var(--color);
  border-radius: 50%;
}

.icono_convierte {
  width: var(--alto);
  height: var(--alto);
}